
.PlayPause {
  width: 50px;
  height: 50px;
}

.PlayPause button {
  height: inherit;
  border: none;
  background: blue;
  outline: 0;
  width: inherit;
  font-size: 30px;
  cursor: pointer;
  padding: 0;
}